/**
 * Styles for the add-observation.html page 
 */
#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#search input{
    flex-grow: 4;
}
.required {
    color: red;
}
.long{
    width: 30rem;
}